<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>员工信息列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div id="wrap">
    <div id="top_content">
        <div id="header">
            <div id="rightheader">
                <p>
                    2022/9/17
                    <br/>
                    <a th:if="${session.user!=null}" th:href="@{/user/logout}">安全退出</a>
                    <a th:if="${session.user==null}" th:href="@{/login}">点我登录</a>
                </p>
            </div>
            <div id="topheader">
                <h1 id="title">
                    <a href="#">main</a>
                </h1>
            </div>
            <div id="navigation">
            </div>
        </div>
        <div id="content">
            <p id="whereami">
            </p>
            <!--这里的span标签一定要这么写，因为如果服务器重启的话session会丢失，
                你不通过if判断就很容易报错，因为重启之后的session对象就不存在了-->
            <h1>
                欢迎 <span th:if="${session.user!=null}" th:text="${session.user.username}"></span>
            </h1>
            <table class="table">
                <tr class="table_header">
                    <td>
                        编号
                    </td>
                    <td>
                        姓名
                    </td>
                    <td>
                        头像
                    </td>
                    <td>
                        工资
                    </td>
                    <td>
                        生日
                    </td>
                    <td>
                        操作
                    </td>
                </tr>
                <!--实现奇偶行换色-->
                <tr th:each="employee,state:${employeeList}" th:class="${state.odd?'row1':'row2'}">
                    <td>
                        <span th:text="${employee.id}"></span>
                    </td>
                    <td>
                        <span th:text="${employee.name}"></span>
                    </td>
                    <td>
                        <img th:src="@{/}+${employee.photo}" width="60">
                    </td>
                    <td>
                        <span th:text="${employee.salary}"></span>
                    </td>
                    <td>
                        <span th:text="${#dates.format(employee.birthday,'yyyy-MM-dd')}"></span>
                    </td>
                    <td>
                        <a href="javascript:;" th:onclick="'deleteEmployee('+${employee.id}+')'">删除</a>
                        <!--这种通过链接传值的方法是thymeleaf推荐的写法-->
                        <a th:href="@{/employee/detail(id=${employee.id})}">更新</a>
                    </td>
                </tr>
                <script>
                    function deleteEmployee(id) {
                        console.log(id);
                        if (window.confirm('确定要删除这条记录吗?')) {
                            location.href = '[[@{/employee/delete?id=}]]' + id;
                        }
                    }
                </script>
            </table>
            <p>
                <input type="button" class="button" value="添加" onclick="addEmp()"/>
                <script>
                    function addEmp() {
                        location.href = '[[@{/addEmp}]]';
                    }
                </script>
            </p>
        </div>
    </div>
    <div id="footer">
        <div id="footer_bg">
            ABC@126.com
        </div>
    </div>
</div>
</body>
</html>
